
body {
    margin: 0px;
    font-family: "Arial", sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.section-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

/* header */

.page-header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-top {
    display: flex;
    padding-top: 25px;
}

.main-nav {
    display: flex;
    list-style-type: none; /* Убираем маркеры */
}



.header-top a {
    color: white;
    text-decoration: none;
    margin-left: 70px;
    font-size: 25px;
}

.header-top a:hover {
    text-decoration: underline;
 }

.page-header .btn {
    margin-top: 5px;
    border-radius: 6px;
    border: 2px white solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 100px;
}

.page-header .btn:hover {
    text-decoration: none;
    background-color: white;
    color: #563D2F;
}

.promo {
    width: 600px;
    display: block;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 150px;
}

.promo a {
    color: white;
    font-size: 60px;
    text-decoration: none;

}

/* features */

.features {
    margin-top: 80px;
    text-align: center;
}

.feature-item {
    text-align: center;
    margin-left: auto;
    display: inline-block;
    width: 300px;
    padding-left: 2px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-x: 130px;
}

.feature-item:nth-child(1) {
    background-image: url(../img/feature-1.png);
    padding-left: 30px;
    padding-right: 30px;
}

.feature-item:nth-child(2) {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;

    background-image: url(../img/feature-2.png);
    padding-left: 30px;
    padding-right: 30px;
}

.feature-item:nth-child(3) {
    background-image: url(../img/feature-3.png);
    padding-left: 30px;
    padding-right: 30px;
}

.feature-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

/* theory */

.cat-reference {
    margin-top: 80px;
    background-color: #F1F1F1;
    padding-top: 70px;
    padding-bottom: 90px;
}

.cat-reference h2, .cat-reference .wrapper a, .reviews h2 {
    display: inline-block;
    margin-bottom: 5px;
}

.cat-reference .wrapper .btn, .reviews .wrapper .btn {
    color: #a38b70;
    text-decoration: none;
    border-radius: 4px;
    border: 2px #a38b70 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 500px;
}

.cat-reference .wrapper .btn:hover, .reviews .wrapper .btn:hover {
    text-decoration: none;
}

dt .reference-title {
    display: inline;
    font-size: 24px;
}

dt a, dt a:hover {
    color: #a38b70;
    font-style: italic;
}

dd {
    margin: 0px;
    position: relative;
    padding-left: 130px;
    font-size: 18px;
}

dd img {
    border-radius: 5px;
    top: 0px;
    left: 0px;
    position: absolute;
}

/* reviews */

.cat-reference dt {
    margin-top: 60px;
}

.reviews-list {
    margin-top: 50px;
}
.review-item {
    width: 360px;
    display: inline-block;
    vertical-align: top;

    padding-left: 50px;
    border-left: 3px solid #a38b70;

}

.review-item cite {
    font-weight: bold;
    font-style: italic;
}



