
body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.section-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

/* header */

.page-header {
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
}

.header-top {
    display: flex;
    padding-top: 25px;
}

.main-nav {
    display: flex;
    list-style-type: none; /* Убираем маркеры */
}



.header-top a {
    color: white;
    text-decoration: none;
    margin-left: 70px;
    font-size: 25px;
}

.header-top a:hover {
    text-decoration: underline;
 }

.page-header .btn {
    margin-top: 5px;
    border-radius: 6px;
    border: 2px white solid;
    padding: 10px 30px;
    margin-left: 100px;
}

.page-header .btn:hover {
    text-decoration: none;
    background-color: white;
    color: #563D2F;
}

.promo {
    width: 600px;
    display: block;
    color: white;
    margin: 100px auto 0;
    padding-bottom: 150px;
}

.promo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    text-align: center;
    white-space: pre;

}

/* features */

.features {
    margin-top: 80px;
    text-align: center;
}

.feature-item {
    text-align: center;
    margin-left: auto;
    display: inline-block;
    width: 300px;
    padding-left: 2px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-x: 130px;
}

.feature-item:nth-child(1) {
    background-image: url(../img/feature-1.png);
    padding-left: 30px;
    padding-right: 30px;
}

.feature-item:nth-child(2) {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;

    background-image: url(../img/feature-2.png);
    padding-left: 30px;
    padding-right: 30px;
}

.feature-item:nth-child(3) {
    background-image: url(../img/feature-3.png);
    padding-left: 30px;
    padding-right: 30px;
}

.feature-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

/* theory */

.cat-reference {
    margin-top: 80px;
    background-color: #F1F1F1;
    padding-top: 70px;
    padding-bottom: 90px;
}

.cat-reference h2, .cat-reference .wrapper a, .reviews h2, .popular-and-price h2 {
    display: inline-block;
    margin-bottom: 5px;
}

.cat-reference .wrapper .btn, .reviews .wrapper .btn, .popular-and-price .wrapper .btn {
    color: #a38b70;
    text-decoration: none;
    border-radius: 4px;
    border: 2px #a38b70 solid;
    padding: 10px 30px;
    margin-left: 500px;
}

.cat-reference .wrapper .btn:hover, .reviews .wrapper .btn:hover {
    text-decoration: none;
}

dt .reference-title {
    display: inline;
    font-size: 24px;
}

dt a, dt a:hover {
    color: #a38b70;
    font-style: italic;
}

dd {
    margin: 0;
    position: relative;
    padding-left: 130px;
    font-size: 18px;
}

dd img {
    border-radius: 5px;
    top: 0;
    left: 0;
    position: absolute;
}

/* reviews */

.cat-reference dt {
    margin-top: 60px;
}

.reviews-list {
    margin-top: 50px;
}
.review-item {
    width: 360px;
    display: inline-block;
    vertical-align: top;

    padding-left: 50px;
    border-left: 3px solid #a38b70;

}

.review-item cite {
    font-weight: bold;
    font-style: italic;
}

/* popular-and-price */

.popular-and-price{
    margin-top: 50px;
    padding-top: 10px;
    background-color: #F1F1F1;
}

.popular-and-price .wrapper .btn {
    margin-left: 450px;
}

.catalog-item {
    display: inline-block;
    border: 1px solid #d8d8d8;
}

.popular-items {
    padding-top: 50px;
}

.popular-and-price .wrapper .catalog-item .btn {
    margin-left: 0;
}

.popular-items h3 {
    padding-left: 20px;
    padding-bottom: 10px;
    font-style: italic;
}

.popular-items b {
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 80px;
}

.popular-and-price .wrapper .popular-items .btn, .feedback .btn {
    width: 146px;
    padding: 10px;
    font: inherit;
    vertical-align: top;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    background-color: #a38b70;
    border: 2px solid #a38b70;
    border-radius: 2px;
}

.catalog-item:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}

/* price-table */

.price-list {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

td {
    border: 1px solid #d8d8d8;
}

th {
    text-align: left;
    font-family: "Arial", sans-serif;
    color: #404040;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
}

td, th {
    padding: 10px 17px;
}

.price-list .price-name {
    width: 422px;
    font-weight: bold;
    color: #000000;
}

.price-list .price-number {
    width: 15px;
}

.price-list .price-master {
    width: 306px;
}

.price-list .price-cost {
    width: 135px;
}

.popular-and-price .wrapper {
    padding: 70px;
}

/* feedback */

.feedback {
    margin-bottom: 80px;
}

.feedback .section-title {
    display: inline-block;
    margin-right: 120px;
}

.feedback p {
    display: inline-block;

}

.feedback form {
    padding-right: 390px;
    width: 630px;
    padding-right: 390px;
    background-image: url(../img/write.jpg);
    background-repeat: no-repeat;
    background-position: 100% 40px;
}

.feedback input[type="text"], textarea, select {
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding: 9px 15px;
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
    margin-bottom: 20px;
}

textarea {
    min-height: 120px;
}

.feedback input[type="text"]:focus, textarea:focus, select:focus {
    border: 2px solid #a38b70;
}

.feedback-form-group label {
    display: inline-block;
    padding: 5px 0;
    padding-left: 17px;
    padding-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.feedback-form-group-left-part {
    width: 300px;
    float: left;
}

.feedback-form-group-right-part {
    width: 300px;
    float: right;
}

.clearfix::after {
    display: table;
    clear: both;

    content: "";
}

.checkbox {
    font-size: 20px;
}

.checkbox-area {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
}

/* footer */

.page-footer {
    background-color: #393939;
}





